## generic files to ignore
*~
*.lock
*.DS_Store
*.swp
*.out
Thumbs.db

## Java files
*.class

## Idea Ignore (Java2D)
java2D/*/.idea
java2D/*/*.iml
java2D/*/out

## Eclipse Ignore
*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpath


## Resharper
*ReSharper.user
*.user
*/_ReSharper.*/


###############################################
# OpenGL folder ignores
######
OpenGL/Demos/Debug
OpenGL/Demos/*/Debug
OpenGL/Demos/*.sdf
OpenGL/Demos/*.suo
OpenGL/Demos/ipch/*
OpenGL/Demos/_ReSharper.Demos



OpenGL/Demos/Demos.opensdf
OpenGL/Demos/CGGL/CGGL_Engine/Debug
OpenGL/Demos/CGGL/BouncingBall/Debug
OpenGL/Demos/CGGL/Snowman/Debug
OpenGL/Demos/CGGL/Pong/Debug